<div class="bg-gray-100">
	<div class="max-w-screen-xl mx-auto px-8 py-16">

		<div class="flex mb-8 pb-8 border-b border-gray-200">
			<div class="flex-grow">
				<img src="/media/logo.svg" alt="REFLEX" class="h-4">
			</div>	
			<a href="#" class="icon-twitter text-2xl"></a>
		</div>

		<div class="grid gap-8 sm:flex">
			<div class="mr-24">
			    <h5 class="font-semibold uppercase text-gray-600 mb-2">Ecosystem</h5>
			    <ul class="leading-loose text-lg">
			    	<li><a href="" class="standard-link">Home</a></li>
			    	<li><a href="" class="standard-link">Get Started</a></li>
			    	<li><a href="" class="standard-link">Resources</a></li>
			    </ul>
			</div>

			<div>
				<h5 class="font-semibold uppercase text-gray-600 mb-2">Community</h5>
				<ul class="leading-loose text-lg">
					<li><a href="" class="standard-link">Reddit</a></li>
					<li><a href="" class="standard-link">#reflex-frp on IRC</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>
