<div class="bg-gray-100">
	<div class="max-w-screen-xl">

		<img src="/media/logo.svg" alt="REFLEX" class="h-4">
		<a href="#" class="icon-twitter"></a>

		<div class="grid">
			<div>
			    <h5>Ecosystem</h5>
			    <ul>
			    	<li><a href="">Home</a></li>
			    	<li><a href="">Get Started</a></li>
			    	<li><a href="">Resources</a></li>
			    </ul>
			</div>

			<div>
				<h5>Community</h5>
				<ul>
					<li>item</li>
					<li>item</li>
				</ul>
			</div>
		</div>

	</div>
</div>
