<div class="bg-white fixed z-10 w-screen top-0">
  <!-- Pre scroll -->
  <div class="max-w-screen-xl mx-auto px-4 pt-4 sm:px-6">
    <!-- Post scroll -->
    <!-- <div class="max-w-screen-xl mx-auto px-4 sm:px-6"> -->
    <!-- Pre scroll -->
    <nav class="relative h-20 flex justify-center items-center">
      <!-- Post scroll -->
      <!-- <nav class="relative h-16 flex justify-center items-center"> -->
      
      <a href="#" aria-label="Obsidian Systems Home" class="absolute left-0">
        <!-- Pre scroll -->
        <img class="h-4 w-auto md:h-5" src="/images/ObsidianSystemsLogo.svg" alt="OBSIDIAN.SYSTEMS">
        <!-- Post scroll -->
        <!-- <img class="h-3 w-auto md:h-4" src="images/ObsidianSystemsLogoInverted.svg" alt="OBSIDIAN.SYSTEMS"> -->
        <!-- Use the inverted logo for pages that start with a dark section, regular logo for screens that start with a light section -->
        <!-- <img class="h-3 w-auto md:h-4" src="images/ObsidianSystemsLogo.svg" alt="OBSIDIAN.SYSTEMS"> -->
      </a>
      
      <div class="hidden lg:block">
        <a href="#" class="p-2 rounded-md font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800 transition ease-in-out duration-150 mr-8">
          <span class="icon-house-2 pr-2"></span>Home
        </a>
        <a href="#" class="p-2 rounded-md font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800 transition ease-in-out duration-150">
          <span class="icon-block-2 pr-2"></span>Blockchain
        </a>
      </div>
      
      <!-- Pre scroll -->
      <button class="py-2 px-4 hidden lg:block absolute right-0 rounded border-2 border-gray-600 text-gray-600 hover:bg-gray-100 hover:text-gray-800 hover:border-gray-100 transition duration-150 ease-in-out">
        <span class="icon-chat pr-2"></span>Contact Us
      </button>
      <!-- Post scroll - only change is the py setting -->
      <!-- <button class="py-1 px-4 hidden lg:block absolute right-0 rounded border-2 border-gray-600 text-gray-600 hover:bg-gray-100 hover:text-gray-800 hover:border-gray-100 transition duration-150 ease-in-out">
      <span class="icon-chat pr-2"></span>Contact Us
      </button> -->
    
      <div class="absolute right-0 lg:hidden">
        <button type="button" class="flex items-center justify-center p-2 rounded-md text-gray-400 
        hover:text-gray-500 hover:bg-gray-100 
        focus:outline-none focus:bg-gray-100 focus:text-gray-500 
        transition duration-150 ease-in-out" 
        aria-label="Main menu" aria-haspopup="true">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
    </nav>
  </div>
</div>