{% extends "partials/mobile-nav.njk" %}

{% block extras %}
  <hr class="h-1 rounded-full bg-gray-200 border-none my-4">

  <nav class="mt-6">
    <div class="uppercase text-sm text-gray-600 font-semibold mb-4">On This Page</div>
    <ul class="standard-links space-y-2">
      <li><a href="" class="">Get Started</a></li>
      <li><a href="" class="">Try Reflex-FRP</a></li>
      <li>
        <ul class="ml-4 space-y-2">
          <li><a href="" class="">Create a New Reflex App</a></li>
          <li><a href="" class="">Build a Frontend in Reflex</a></li>
          <li><a href="" class="">Convert Parts of an Existing App to Reflex</a></li>
          <li><a href="" class="">Take FRP for a Test Drive</a></li>
        </ul>
      </li>
      <li><a href="" class="">Learn Reflex-FRP</a></li>
      <li>
        <ul class="ml-4 space-y-2">
          <li><a href="" class="">Reflex-FRP Basics</a></li>
          <li><a href="" class="">Reflex Extended Education</a></li>
          <li><a href="" class="">Haskell for Beginners</a></li>
          <li><a href="" class="">The Tutorial</a></li>
        </ul>
      </li>
    </ul>
  </nav>
{% endblock %}
