{% extends "partials/mobile-nav.njk" %}

{% block extras %}
  <hr class="h-1 rounded-full bg-gray-200 border-none my-4">

  <nav class="mt-6">
    <div class="uppercase text-sm text-gray-600 font-semibold mb-4">On This Page</div>
    <ul class="standard-links space-y-2">
      <li><a href="" class="">Resources</a></li>
      <li><a href="" class="">Guides</a></li>
      <li><a href="" class="">Workshops</a></li>
      <li><a href="" class="">Presentations</a></li>
      <li><a href="" class="">Discussion Forums</a></li>
      <li><a href="" class="">Downloads</a></li>
      <li><a href="" class="">FRP Extras</a></li>
    </ul>
  </nav>
{% endblock %}
