{% extends "partials/mobile-nav.njk" %}

{% block extras %}
  <hr class="h-1 rounded-full bg-gray-200 border-none my-4">

  <nav class="mt-6">
    <div class="uppercase text-sm text-gray-600 font-semibold mb-4">On This Page</div>
    <ul class="standard-links space-y-2">
      <li><a href="" class="">Tutorial</a></li>
      <li><a href="" class="">The structure of this document</a></li>
      <li>
        <ul class="ml-4 space-y-2">
          <li><a href="" class="">Literate Haskell</a></li>
          <li><a href="" class="">Running the code</a></li>
          <li><a href="" class="">Navigating to particular tutorial snippets</a></li>
          <li><a href="" class="">Imports and extensions</a></li>
        </ul>
      </li>
      <li><a href="" class="">DOM Basics</a></li>
      <li>
        <ul class="ml-4 space-y-2">
          <li><a href="" class="">Dynamics and Events</a></li>
          <li><a href="" class="">A Number Input</a></li>
          <li><a href="" class="">Adding</a></li>
          <li><a href="" class="">Supporting Multiple Operations</a></li>
          <li><a href="" class="">Events and State Machines</a></li>
          <li><a href="" class="">Number Pad</a></li>
          <li><a href="" class="">A Minimal Four Function Calculator</a></li>
          <li><a href="" class="">Dynamic Attributes and Cyclic Dependencies</a></li>
          <li><a href="" class=""></a></li>
        </ul>
      </li>
      <li><a href="" class="">In Summary</a></li>
    </ul>
  </nav>
{% endblock %}
