<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" data-ssr="" name="viewport">
  <title>Reflex FRP</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
  <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
  
{% block body %}
{% endblock %}
  
</body>
</html>
