<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" data-ssr="" name="viewport">
  <title></title>
  <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
  
{% block body %}
{% endblock %}
  
</body>
</html>