{% extends "boilerplate.njk" %}

{% block extras %}
  {# {% include "partials/mobile-nav/tutorial.njk" %} #}
{% endblock %}

{% block body %}

<div class="flex max-w-screen-xl">

  <nav class="hidden md:block w-1/4 flex-shrink-0 bg-gray-100 px-6 py-12">
    <ul class="standard-links space-y-2">
      <li><a href="">Tutorial</a></li>
      <li><a href="">The structure of this document</a></li>
      <li>
        <ul class="ml-4 space-y-2">
          <li><a href="">Literate Haskell</a></li>
          <li><a href="">Running the code</a></li>
          <li><a href="">Navigating to particular tutorial snippets</a></li>
          <li><a href="">Imports and extensions</a></li>
        </ul>
      </li>
      <li><a href="">DOM Basics</a></li>
      <li>
        <ul class="ml-4 space-y-2">
          <li><a href="">Dynamics and Events</a></li>
          <li><a href="">A Number Input</a></li>
          <li><a href="">Adding</a></li>
          <li><a href="">Supporting Multiple Operations</a></li>
          <li><a href="">Events and State Machines</a></li>
          <li><a href="">Number Pad</a></li>
          <li><a href="">A Minimal Four Function Calculator</a></li>
          <li><a href="">Dynamic Attributes and Cyclic Dependencies</a></li>
          <li><a href=""></a></li>
        </ul>
      </li>
      <li><a href="">In Summary</a></li>
    </ul>
  </nav>

  <article class="px-6 sm:px-8 lg:px-12">
    <h1>Tutorial</h1>
    <p class="heading-paragraph">In this example, we'll be following Luite Stegemann's lead and building a simple functional reactive calculator to be used in a web browser or as a desktop or mobile app.</p>
    
    <hr>

    <h2>The structure of this document</h2>

    <h3>Literate Haskell</h3>
    <p>This document is a <a href="">literate haskell</a> source file written in markdown. We're using <a href="">markdown-unlit</a> to process this source file and turn it into something our compiler can understand.</p>

    <h3>Running the code</h3>
    <p>You can run this tutorial by:</p>
    <p>
      <span class="text text-xl">1.</span>
      <a href="">Installing obelisk</a>, a framework and development tool for multi-platform Haskell applications.
    </p>
    <p>
      Cloning the calculator-tutorial repository.
    </p>
    <pre class="mb-4"><code class="language-bash">git clone git@github.com:obsidiansystems/calculator-tutorial</code></pre>
    <p>
      Running the application with the ob command.
    </p>
    <pre class="mb-4"><code class="language-bash">cd calculator-tutorial
ob run</code></pre>
    <p>
      Navigating to <a href="">http://localhost:8000</a>. If you want to run it at a different hostname or port, modify the <code>config/common/route</code> configuration file.
    </p>

    <h3>Navigating to particular tutorial snippets</h3>
    <p>Over the course of this tutorial, we're going to progressively build a calculator application. Each step in the process of constructing the calculator will be a numbered function in this document. For example, the first function is <code>tutorial1</code>, below.</p>
    <p>To see what the code in <code>tutorial1</code> does when it runs, you can navigate to <code>/tutorial/1</code>. The same applies to any other numbered function: just change the number at the end of the url to match that of the function you'd like to see in action.</p>

    <h3>Imports and extensions</h3>
    <p>Because this is one big source file, all of our functions will share a set of imports and language extensions, declared here:</p>
    <pre class="mb-4"><code class="language-haskell">{-# LANGUAGE OverloadedStrings #-}
{-# LANGUAGE RecursiveDo #-}
{-# LANGUAGE ScopedTypeVariables #-}

module Tutorial where

import Reflex
import Reflex.Dom
import Data.Map (Map)
import qualified Data.Map as Map
import Data.Text (pack, unpack, Text)
import qualified Data.Text as T
import Text.Read (readMaybe)
import Control.Applicative ((<*>), (<$>))
import Control.Monad.Fix (MonadFix)</code></pre>
    <p>That's all for the preliminaries. Let's get to it!</p>

    <h2>DOM Basics</h2>
    <h3>Reflex-FRP Basics</h3>
    <p>Existing content...</p>

    <aside>
      <p class="font-bold">Sidebar: Interpreting the MonadWidget type</p>
      <p>FRP-enabled datatypes in Reflex take an argument t, which identifies the FRP subsystem being used. This ensures that wires don't get crossed if a single program uses Reflex in multiple different contexts. You can think of t as identifying a particular "timeline" of the FRP system.</p>
      <p>Because most simple programs will only deal with a single timeline, we won't revisit the t parameters in this tutorial. As long as you make sure your <code>Event</code>, <code>Behavior</code>, and <code>Dynamic</code> values all get their t argument, it'll work itself out.</p>
    </aside>

    <p>In our example, <code>el "div" $ text "Welcome to Reflex"</code>, the first argument to el was "div", indicating that we are going to produce a div element.</p>
  </article>

</div>

{% endblock %}
