{% extends "boilerplate.njk" %}
{% block body %}
  {% include "partials/nav.njk" %}

  <div class="max-w-screen-xl mx-auto h-screen max-h-140 flex justify-center items-center flex-col">
    <a href="#" class="bg-purple-600 text-white p-6 rounded font-bold">Checkout the Get Started guide</a>
  </div>
  
  <h1 class="text-6xl font-display">The world changes, your apps should keep up.</h1>
  
    <h2>Reflex adapts to changes in your...</h2>
      <h3>Data</h3>
      <p>Reflex apps automatically react to changing data. This keeps every interaction current, accurately representing the relationship between your data and the real world.</p>
      <p>Reflex is the key to writing self-updating user interfaces.</p>

      <h3>Requirements</h3>
      <p>Reflex components are modular and reusable. If your requirements change, your app can quickly and easily be reworked. The modularity of Reflex lets you iterate quickly, without wasting code.</p>
      <p>Develop efficiently no matter how many times you pivot.</p>
      
      <h3>Platform</h3>
      <p>Reflex has been built to seamlessly support interfaces on desktop, mobile, web, and other platforms, all in Haskell. Regardless of your platform needs, Reflex lets you take your team and your code with you.</p>
      <p>One team, one code base, every platform.</p>
  
  <h1>The ecosystem built for evolution.</h1>
  
    <h2>Build fast without breaking things.</h2>
    <p>You don’t have to choose between building quickly or sustainably anymore. Reflex-FRP allows you to write production quality code from the get-go, with less technical debt.</p>
    
    <h2>Never lost in translation.</h2>
    <p>Reflex platform allows you to write entirely in Haskell, everywhere. Using one language does away with client / server protocol mismatches and separate engineering teams. Code becomes easier to write, with fewer kinds of bugs possible.</p>
    
    <h2>Jump the complexity wall.</h2>
    <p>As you add to your codebase, it inevitably becomes more complex, but it shouldn’t become harder to manage. No matter the size of your App, Reflex allows for individual pieces of code to be independently understandable.</p>
    
    <h2>Code for the only constant.</h2>
    <p>The only constants are time and change, what if your code could account for them? Functional reactive programming lets you write code that understands real world dynamics as naturally as you do, but isn’t any harder to write.</p>
    
    <h2>Batteries included.</h2>
    <p>Obelisk is the full-stack framework for building Reflex apps using the entire ecosystem. Designed to work ‘out of the box’, with best practices and starter templates included. This is the best option for developing and deploying serious real world applications, quickly.</p>

  {% include "partials/footer.njk" %}    
{% endblock %}
